<%

public_products = ["Home Link English", "Home Link Spanish", "Community Link"]
#private_products = ["Everybody Link", "Leader Link", "Principal Link", "Teacher Link", "Bully Free Bus Link", "Counselor Link", "Journal Link"]
#grades = ["K", "1", "2", "3", "4", "5", "6", "7", "8"]
private_products = ["Everybody Link", "Leader Link", "Principal Link", "Teacher Link", "Journal Link"]
grades = ["7", "8"]
base_file_system_path = File.join(Rails.root, "public/character_links/")
base_web_path = "/character_links/"

product_descriptions = {}
product_descriptions["home_link_english"] = "Engaging, daily home activities designed to reinforce positive behavior, family involvement and bully-free environments."
product_descriptions["home_link_spanish"] = "Las actividades cotidianas del hogar diseñado para reforzar el comportamiento positivo, participación de la familia y bully de entornos libres."
product_descriptions["community_link"] = "Relevant information and action ideas to enlist business and community support."
product_descriptions["everybody_link"] = "Defines the character quality in simple words. It establishes a common vocabulary throughout the community."
product_descriptions["leader_link"] = "Sets the direction for schools and district through short messages and easy to implement action prompts."
product_descriptions["principal_link"] = "Establishes a positive frame of reference daily through morning readings designed to be delivered over the PBS system."
product_descriptions["teacher_link"] = "Character-focused, grade-specific, daily lesson plans developed to the context of academics and aligned to CCSS."
product_descriptions["bully_free_bus_link"] = "Targeted communications to help bus drivers promote positive behavior and maintain a bully-free bus."
product_descriptions["counselor_link"] = "Bully prevention strategies, techniques and lesson activities to create safe, bully-free, positive learning environments."
product_descriptions["journal_link"] = "Writing activities and prompts that focus on key behaviors needed for success."

%>
<div class="district_logo"></div>
<div class="present_title trait_title"><%= @trait.title %></div>
<div class="product_listing_wrapper">
  <div id="HelpToggle">?</div>

  <% private_products.each do |product_name| %>
    <% if product_name == "Teacher Link" %>
      <% grades.each do |grade| %>

        <div class="product_listing private_product <%= product_name.gsub(" ", "_").downcase %>">
          <div class="product_ribbon product_ribbon_top"></div>
          <%
             file_name =  "#{@trait.title.downcase.gsub(" ", "_")}_#{product_name.gsub(" ", "_").gsub("'", "").downcase}_grade_#{grade.downcase}.pdf"
             absolute_file_path = File.join(base_file_system_path, file_name)
             absolute_web_path = "#{base_web_path}#{file_name}"
          %>

          <% 
          character_link = @trait.Characterlinks.where("link_type like?", "%#{product_name} - Grade #{grade}%").first
          %>

          <% if not character_link.blank? %>
            <a href="/characterlinks/<%= character_link.id %>" class="product_link"><%= product_name %> - Grade <%=  grade %></a>
          <% elsif FileTest.exist?(absolute_file_path) %>
            <a href="<%= absolute_web_path %>" class="product_link"><%=  product_name %> - Grade <%=  grade %></a>
          <% else %>
            <a href="<%= absolute_web_path %>" class="product_link missing_file"><%=  product_name %> - Grade <%=  grade %></a>
          <% end %>
          <div class="product_description hidden"><span class="product_description_title"><%= "#{product_name} - Grade #{grade.downcase}" %></span><%= "#{product_descriptions[product_name.gsub(" ", "_").gsub("'", "").downcase]}" %></div>
        </div>

      <% end %>

    <% else %>

      <div class="product_listing private_product <%= product_name.gsub(" ", "_").downcase %>">
        <div class="product_ribbon product_ribbon_top"></div>
        <%
           file_name =  "#{@trait.title.downcase.gsub(" ", "_")}_#{product_name.gsub(" ", "_").gsub("'", "").downcase}.pdf"
           absolute_file_path = File.join(base_file_system_path, file_name)
           absolute_web_path = "#{base_web_path}#{file_name}"
        %>

        <% 
          character_link = @trait.Characterlinks.where("link_type like?", "%#{product_name}%").first
        %>

        <% if not character_link.blank? %>
          <a href="/characterlinks/<%= character_link.id %>" class="product_link"><%= product_name %></a>
        <% elsif FileTest.exist?(absolute_file_path) %>
          <a href="<%= absolute_web_path %>" class="product_link"><%=  product_name %></a>
        <% else %>
          <a href="<%= absolute_web_path %>" class="product_link missing_file"><%=  product_name %></a>
        <% end %>
        <div class="product_description hidden"><span class="product_description_title"><%= "#{product_name}" %></span><%= "#{product_descriptions[product_name.gsub(" ", "_").gsub("'", "").downcase]}" %></div>
      </div>

    <% end %>

  <% end %>

  <% public_products.each do |product_name| %>
    <div class="product_listing public_product <%= product_name.gsub(" ", "_").downcase %>">
      <div class="product_ribbon product_ribbon_top"></div>
      <%
         file_name =  "#{@trait.title.downcase.gsub(" ", "_")}_#{product_name.gsub(" ", "_").gsub("'", "").downcase}.pdf"
         absolute_file_path = File.join(base_file_system_path, file_name)
         absolute_web_path = "#{base_web_path}#{file_name}"
      %>


      <% if product_name == "Home Link Spanish" %>
        <% 
          character_link = @trait.Characterlinks.where("link_type like?", "%Enlace de'inicio%").first
        %>
        <% if not character_link.blank? %>
          <a href="/characterlinks/<%= character_link.id %>" class="product_link">Enlace de'inicio</a>
        <% elsif FileTest.exist?(absolute_file_path) %>
          <a href="<%= absolute_web_path %>" class="product_link">Enlace de'inicio</a>
        <% else %>
          <a href="<%= absolute_web_path %>" class="product_link missing_file">Enlace de'inicio</a>
        <% end %>
      <% elsif product_name == "Home Link English" %>
        <% 
          character_link = @trait.Characterlinks.where("link_type like?", "%Home Link%").first
        %>
        <% if not character_link.blank? %>
          <a href="/characterlinks/<%= character_link.id %>" class="product_link">Home Link English</a>
        <% elsif FileTest.exist?(absolute_file_path) %>
          <a href="<%= absolute_web_path %>" class="product_link">Home Link English</a>
        <% else %>
          <a href="<%= absolute_web_path %>" class="product_link missing_file">Home Link English</a>
        <% end %>
      <% else %>
        <% 
          character_link = @trait.Characterlinks.where("link_type like?", "%#{product_name}%").first
        %>
        <% if not character_link.blank? %>
          <a href="/characterlinks/<%= character_link.id %>" class="product_link"><%= product_name %></a>
        <% elsif FileTest.exist?(absolute_file_path) %>
          <a href="<%= absolute_web_path %>" class="product_link"><%=  product_name %></a>
        <% else %>
          <a href="<%= absolute_web_path %>" class="product_link missing_file"><%=  product_name %></a>
        <% end %>
      <% end %>
      <div class="product_description hidden"><span class="product_description_title"><%= "#{product_name}" %></span><%= "#{product_descriptions[product_name.gsub(" ", "_").downcase]}" %></div>
    </div>

  <% end %>


</div>


<div id="CharacterLinksDefinition">
  <div class="header">Character Links for Families and the Community</div>
  Character Links is an easy to use resource that provides a series of brief, grade-level appropriate lessons taught in the classroom.  Character Links goes beyond the classroom and involves not only school leaders, teachers, students and principals, but parents and the entire community as well.  A different trait is featured each week.
  <br/><br/>
  The Home Link and Community Link above provide activities to promote family involvement, and positive behavior.  The Home Link reinforces what students are learning in the classroom, while the Community Link provides activities to keep the community informed and involved as well.
</div>

<script type="text/javascript">

  function is_private(){
    $('#SadlierLogo').attr('is_private', 'true');
    $("#CharacterLinksDefinition").hide();
    $('.private_product').show();
  }

  function not_private(){
    $('#SadlierLogo').attr('is_private', 'false');
      $("#CharacterLinksDefinition").show();
    $('.private_product').hide();
  }

  function toggle_help(){
    var product_listing_wrapper = $(".product_listing_wrapper");
    if(product_listing_wrapper.hasClass('help_mode')){
      $(".product_description").addClass('hidden');
      product_listing_wrapper.removeClass('help_mode');
    } else {
      product_listing_wrapper.addClass('help_mode');
      $(".product_description").removeClass('hidden');
    }
  }

  $(document).on('click', '#HelpToggle', function(event){
    toggle_help();
  });


  $(document).ready(function(){
  $('.service_learning_link').find('.product_link').text('Counselor Link');
    //not_private();
    is_private();

    var home_button = $("<div></div>")
        home_button.attr('id', "HomeButton")
        home_button.addClass('button');
        home_button.html("Home");

    $("#CharacterLinksFooter").prepend(home_button);

    $(document).on('click', '#HomeButton', function(){
      location = '/';
    });

    //toggle_help();


  });


  $(document).on('click', '#SadlierLogo', function(){
    if( $(this).attr('is_private') == "true" ){
      not_private();
    } else {
      is_private();
    }
  });


</script>

